# Banco de dados
DATABASE_URL="postgresql://postgres:password@localhost:5432/viralizamos_new"

## MERCADO PAGO ##

MERCADOPAGO_SANDBOX=false
NEXT_PUBLIC_MERCADO_PAGO_PUBLIC_KEY=APP_USR-497d3170-236d-4fda-8994-9b6acaa97312
MERCADO_PAGO_ACCESS_TOKEN=APP_USR-5308098948405597-012414-f6c58ada264a9d8f757f9dcb265723d5-1007681382
MERCADO_PAGO_WEBHOOK_SECRET=2c99e2eabbbef282c402132240201725f94c61f8893d8926d87d4091578a173b

##DATABASE##

DATABASE_URL=postgresql://postgres.ijpwrspomqdnxavpjbzh:mTJ81KzVSb0HSYCa@aws-0-sa-east-1.pooler.supabase.com:6543/postgres
NEXT_PUBLIC_SUPABASE_URL=https://ijpwrspomqdnxavpjbzh.supabase.co
NEXT_PUBLIC_SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqcHdyc3BvbXFkbnhhdnBqYnpoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczODM0Njc3NiwiZXhwIjoyMDUzOTIyNzc2fQ.9qjf-8uWdN6t1wS5i7BXI1Zp6lv-b0mcxXDaUJXFhTM
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqcHdyc3BvbXFkbnhhdnBqYnpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzgzNDY3NzYsImV4cCI6MjA1MzkyMjc3Nn0.ad20NhUTSBNQQOi2SZ4_cDMbcmmRai78fPGN-qquaXs

SUPABASE_SERVICE_ROLE_KEY=${NEXT_PUBLIC_SUPABASE_SERVICE_KEY}

##RAPIDAPI##

RAPIDAPI_KEY=cbfd294384msh525c1f1508b114ap1863a2jsn6c295cc5d3c8
NEXT_PUBLIC_RAPIDAPI_KEY=cbfd294384msh525c1f1508b114ap1863a2jsn6c295cc5d3c8

##FAMA NAS REDES##

NEXT_PUBLIC_FAMA_REDES_API_KEY=04be6a53e674e13f548cfd3932c5a3d2
FAMA_REDES_API_KEY=04be6a53e674e13f548cfd3932c5a3d2
FAMA_REDES_API_URL=https://famanasredes.com.br/api/v2




##SCRAPECREATORS##

NEXT_PUBLIC_SCRAPECREATORS_API_KEY=xGyLaBSvx1NLKSz4z3QtHoxqw9H2
SCRAPECREATORS_API_KEY=xGyLaBSvx1NLKSz4z3QtHoxqw9H2

##SITE CONFIG##

NEXT_PUBLIC_BASE_URL=https://viralizamos.com
CRON_SECRET_KEY=4f5a7c9d1e3b2a8f6c0d

##N8N INTEGRATION##

# URL do webhook do n8n (ambiente de produção)
N8N_WEBHOOK_URL=https://n8nwebhook.traconegocios.com.br/webhook/order
# URL do webhook do n8n (ambiente de teste)
N8N_WEBHOOK_URL_TEST=https://automacoes.traconegocios.com.br/webhook-test/order
# Chave de API para autenticação com o n8n
N8N_API_KEY=n8n_viralizamos_2024
# Chave secreta para autenticação de callbacks do n8n para sua API
API_CALLBACK_SECRET=viraliza_n8n_callback_2024
# Ativar integração com o n8n (true/false)
ENABLE_N8N_INTEGRATION=true